
.idea/workspace.xml
.idea/dataSources.xml
.idea/dataSources/7f2bb946-45f0-485b-b704-648c35f147db.xml
.idea/misc.xml
.idea/encodings.xml
.idea/sqldialects.xml
.idea/vcs.xml
.idea/modules.xml
.idea/ewhiting_SWEN5236_midterm.iml
